     /* shear styles */
     * {
         font-family: 'Work Sans', sans-serif;
     }

     .btn-primary {
         color: #FFF;
         font-weight: 600;
         padding: 20px 24px;
         border-radius: 8px;
         background: #FF900E;
         font-size: 1.25rem;
         border: 0;
         cursor: pointer;
     }

     .same-title {
         color: #131313;
         font-size: 2.8rem;
         font-weight: 700;
     }

     .same-discription {
         color: #727272;
         font-weight: 400;
     }

     /* header styles */
     header {
         background: rgba(255, 144, 14, 0.10);
         padding: 50px 240px;
     }

     nav {
         display: flex;
         justify-content: space-between;
         align-items: center;

     }


     nav>ul {
         display: flex;
     }

     nav ul li {
         list-style: none;
         margin-right: 40px;
         font-size: 1rem;
         font-weight: 500;
     }

     nav li a {
         text-decoration: none;
         color: #424242;
     }

     /* BANNER STYLE */

     .banner-content {
         max-width: 800px;
         text-align: center;
         margin: 0 auto;
     }

     .banner-title {
         color: #131313;
         font-size: 4rem;
         font-weight: 700;
     }

     .banner img {
         margin-top: 20px;
         width: 100%;
     }


     /* main style */
     main {
         max-width: 1440px;
         margin: 70px auto;
     }

     /* team section style */
     .team-container {
         display: flex;
         align-items: center;
     }

     .team-img {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 1.25rem;
     }

     .team-content {
         padding-left: 70px;
         padding-right: 70px;
     }

     .team-title {
         font-size: 2.8rem;
     }

     .quick-text {
         color: #727272;
         font-weight: 500;
     }

     .team-text {
         color: #FF900E;
         font-size: 700;
     }


     /* FEATURE STYLES */

     .tata {
         border-left: 5px solid #FF900E;
         padding-left: 20px;
     }

     .feature {
         margin-top: 130px;
         display: flex;
         gap: 100px;

     }

     /* .feature-container, */
     .feature-card {
         border-radius: 8px;
         background: #FFF;
         box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
         padding: 40px;
         margin-bottom: 20px;
     }
     .feature-img img{
        height: 90%;
        margin-left: 90px;
     }

     .ten-years-bage {
         border-radius: 8px;
         background: #FF900E;
         width: 342px;
         color: #fff;
         padding: 40px;
         position: relative;
         bottom: 100px;
         text-align: center;
     }

     .ten-years-bage h2 {
         font-size: 4rem;
         font-weight: 700;
         margin: 0;
        
     }

     .ten-years-bage p {
         font-size: 1.5rem;
         font-weight: 500;
         text-align: center;
     }

     /* facts cards styles */

     .facts-card-container {
         display: flex;
         justify-content: space-around;
     }

     .facts-card-container .card {
         border-radius: 8px;
         border: 1px solid #FF900E;
         text-align: center;
         background: #FFF;
         padding: 30px;
     }

     .card-stats {
         color: #424242;
         font-size: 2.8rem;
         font-weight: 600;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .cards-title {
         color: #727272;
         font-size: 1.5rem;
         font-weight: 600;
         margin-top: 5px;
     }

     .sponser-title {
         color: #131313;
         font-size: 2.8rem;
         font-weight: 700;
     }

     .sponser-container {
         text-align: center;
     }

     .social-media-img {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         margin-top: 50px;
         gap: 20px;
     }

     .social-media-img img {
         width: 166px;
     }




     /* RESPONSIVE MEDIA QUERY */
     /* Mobail Devise */

     @media screen and (max-width:576px) {
         header {
             padding: 20px;
         }

         nav,
         .team-container,
         .facts-card-container,
         .social-media-img {
             flex-direction: column;
         }

         .team-img {
             grid-template-columns: 1fr;
         }

         .team-content,
         .facts-card-container {
             padding-left: 20px;
             padding-right: 20px;
         }

         .facts-card-container {
             gap: 20px;
         }
     }

     /* Tablet Devise */
     @media screen and (min-width:576px) and (max-width:992px) {
         header {
             padding: 0px;
         }

         nav,
         .team-container,
         .social-media-img {
             flex-direction: column;
         }

     }